@import 'reset';
@import 'scoreViewer';
@import 'valiables.less';
html, body{
	font-size: 15px;
	height: 100%;
}
html{
	background: #E0E0E0;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
h1{
	font-size: 1rem;
	margin: 0 0 @baseMargin 0;
	text-align: center;
	font-weight: bold;
	a{
		font-weight: normal;
	}
}
.wrapper{
	padding: @baseMargin @baseMargin * 2;
	max-width: 800px;
	margin: 0 auto;
	background: #FFF;
	min-height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.btn{
	@btnSelectedBgColor: @hatenaColor;
	@btnSelectedFontColor: #FFF;
	//@btnBgColor: #EEE;
	@btnFontColor: #333;
	@btnAnimeDuration: 200ms;
	@btnSelectedShadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
	@btnShadow: inset 0px 0px 5px rgba(0, 0, 0, 0);

	@btnShadowColor: rgba(0, 0, 0, 0.5);
	@btnBorder: 1px solid @btnBorderColor;
	@fontSize: @btnFontSize;
	@height: @fontSize * 2;
	font-size: @fontSize;
	display: inline-block;
	height: @height;
	line-height: @height;
	padding: 0 0.5em;
	text-align: center;
	cursor: pointer;
	background: @btnBgColor;
	color: @btnFontColor;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0);
	user-select: none;
	/*@keyframes btnSelect{
		from{
			box-shadow: @btnShadow;
			background: @btnBgColor;
			color: @btnFontColor;
		}
		to{
			box-shadow: @btnSelectedShadow;
			background: @btnSelectedBgColor;
			color: @btnSelectedFontColor;
		}
	}*/
	&.selected{
		box-shadow: @btnSelectedShadow;
		background: @btnSelectedBgColor;
		color: @btnSelectedFontColor;
		/*animation: btnSelect @btnAnimeDuration linear;
		animation-fill-mode: forwards;*/
		border: @btnBorder;
	}
	/*&:active,*/
	&.active{
		.selected;
	}
	&:hover{
		border: @btnBorder;
		text-decoration: none;
	}
}

.bookmarkCount{
	color: #ff2d2d;
	font-weight: bold;
	background: #fdd;
	opacity:0.8;
	.count{
		font-size: 110%;
	}
	&:hover{
		text-decoration: none;
	}
}

.ui{
	.setting{
		display: flex;
		flex-flow:row wrap;
		justify-content: space-between;
		user-select: none;
		.btnBox{
			flex: 0 0 auto;
			margin-bottom: @baseMargin;
			vertical-align: top;
			&.viewMode{
			}
			.btn{
				margin-right: 1px;
			}
			.orderby{
				vertical-align: top;
			}
		}
	}
	.detailSetting{
		display: none;
		padding: @baseMargin;
		border: 1px solid #CCC;
		&.visible{
			display: block;
		}
		.detailSettingItem{
			margin-bottom: @baseMargin;
			padding-bottom: @baseMargin;
			border-bottom: 1px solid #CCC;
			&:last-child{
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
			.title{
				line-height: 1;
				&:before{
					vertical-align: middle;
					display: inline-block;
					content: "";
					border-left: 5px solid #000;
					height: 5px;
					margin-right: 0.5em;
				}
			}
			.contents{
				margin: @baseMargin 0;
			}
			.description{
				font-size: small;
				line-height: 1.2;
				p{
					margin: 0;
				}
			}
			&.filtering{
				.contents{
					margin-bottom: 0;	
					.filterMode{
						margin-bottom: @baseMargin;
					}
					.userFilterSetting{
						display: none;
						margin-top: @baseMargin;
						&.visible{
							display: block;
						}
						.inputBoxes{
							display: flex;
							flex-flow:row wrap;
							justify-content: flex-start;
							.inputBox{
								flex: 0.1 1 auto;
								margin-bottom: @baseMargin;
								&.disabled .disableable{
									opacity: 0.5;
								}
								label{
									font-size: small;
									user-select: none;
									&.withCheckBox{
										cursor:pointer;
									}
								}
								input[type=number]{
									width: 4em;
									height:1.2em;
									margin: 0 0.25em;
								}
								input[type=checkbox]{
									vertical-align: middle;
									margin-right: 0.5em;
								}
							}
						}
					}
				}
			}
		}

	}
}
.feedList{
	@feedListHeight: 300px;
	min-height: 300px;
	&.loading{
		position: relative;
		.loadingAnime{
			@keyframes rotate{
				from{
					transform: rotate(0deg);
				}
				to{
					transform: rotate(360deg);
				}
			}
			@width: 70px;
			@height: @width;
			@color: @hatenaColor;
			animation: rotate 1s linear infinite;
			animation-fill-mode: both;
			top: (@feedListHeight - @height) / 2;
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;

			display: block;
			border-radius: @width / 2;
			border: 1px solid lighten(@color, 15%);
			width: @width;
			height: @height;
			//background: @color;

			&:after,
			&:before{
				transform: rotate(45deg);
				content:'';
				position: absolute;
				top:0;
				left:0;
				display: block;
				border-radius: @width / 2;
				border: 1px solid #000;
				width: @width;
				height: @height;
				//background: @color;
			}
			&:before{
				left: -10px;
				border: 1px solid lighten(@color, 0%);
			}
			&:after{
				left: 10px;
				border: 1px solid lighten(@color, 30%);
			}

		}
		.feedListBox{
			visibility: hidden;
		}
	}
	.loadingAnime{
		display: none;
	}
	.feedListBox{
		.feedItem{
			margin-top: @baseMargin * 2;
			padding-bottom: @baseMargin * 2;
			word-wrap: break-word;
			&:last-child{
				border: none;
			}
			
			.title{
				@fontSize: 1.1rem;
				@lineHeight: 1.5;
				display: block;
				font-size: @fontSize;
				margin:(@baseMargin * 2 - ((@fontSize * @lineHeight - @fontSize) / 2)) 0;
				line-height: @lineHeight;
				a{
					color: #00C;
					.favicon{
						vertical-align: middle;
						margin: -2px @baseMargin / 2 0 0;
					}
				}
			}
			.text{
				overflow: hidden;
				.entryImage{
					float: left;
					margin-right: @baseMargin;
					max-height: 120px;
					min-width: 90px;
				}
				.description{
					font-size: 0.9rem;
					line-height: 1.5;
				}
			}
			.footer{
				font-size: 11px;
				.score,
				.category,
				.date,
				.bookmarkCount{
					@height: 14px;
					display: inline-block;
					line-height: @height;
					height: @height;
					padding: 2px 4px;
				}
				.score{
					color: #FFF;
					vertical-align: top;
					@s: 50%;
					@l: 45%;
					&.minus{
						background: hsl(0, @s, @l);
					}
					&.plus{
						background: hsl(100, @s, @l);
					}
					&.zero{
						background: #CCC;
					}
				}
				.category{
					background: #EEE;
				}
			}
			.bookmarkComments{
				min-height: 24px;
				.showBookmarkCommentsBtn{
					.btn;
					@fontSize: 0.8rem;
					@height: @fontSize * 2;
					width:100%;
					font-size: @fontSize;
					height: @height;
					line-height: @height;
					margin-top: @baseMargin;
					background: #EEE;
					color: #AAA;
				}
				.comments{
					transition:height 200ms ease-out;
					padding:0 2px;
					overflow-x: hidden;
					overflow-y: auto;
					height: 0;
					font-size: 13px;
					-webkit-overflow-scrolling: touch;
					&.open{
						border: 1px solid #CCC;
					}
					.comment{
						padding: 8px 10px 8px 40px;
						border-bottom: 1px solid #CCC;
						&:last-child{
							border-bottom: none;
						}
						.profileIcon{
							@height: 24px;
							float: left;
							display: block;
							position: relative;
							margin-left: -36px;
							border: 1px solid #CCC;
							line-height: @height;
							height: @height;
							width: @height;
						}
						.commentBox{
							line-height: 18px;
							.name
							.tags{
								display: inline-block;
							}
							.name{
								margin-right: 1ex;
							}
							.commentBody{

							}
							.tags{
								font-size: 12px;
								.tag{
									color: #AAA;
									margin-left: 3px;
									&:last-child{
										margin-right: 0;
									}
								}
							}
						}
						.info{
							font-size: 12px;
							a{
								color: #AAA;
								&.permalink{
									margin-right: 3px;
								}
							}
						}
					}
					.noComment{
						text-align: center;
						font-size: 13px;
						color: #AAA;
					}
				}
			}
		}

		&.view-title{
			.feedItem{
				@fontSize: 1rem;
				@lineHeight: 1.5;
				margin-top: @baseMargin;
				padding-bottom: (@baseMargin - ((@fontSize * @lineHeight - @fontSize) / 2));
				.text{
					display: none
				}
				.title{
					margin: @baseMargin 0 0 0;
					font-size: 1rem;
				}
			}
		}
		&.view-text{
			.feedItem{
				.text{
					display: block;
					.entryImage{
						display: none;
					}
				}
			}
		}
		&.view-image{
			.feedItem{
				.text{
					.entryImage{
						display: inline-block;
					}
				}
			}
		}
	}
}
.globalFooter{
	font-size: 0.75rem;
	text-align: center;
	margin-bottom: @baseMargin;
	.siteMap{
		display: flex;
		flex-direction: wrap;
		justify-content: space-around;
		li{
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			a{

			}
		}
	}
	small{
		opacity: 0.8;
		font-size: 100%;
	}
}

.about{
	@decorativeColor: #CCC;
	h2{
		font-size: 1.5rem;
		//border-left: 1em solid #CCC;
		line-height: 1;
		//padding-left: 0.5em;
		&::before{
			content:"§";
			display: inline;
			color: @decorativeColor;
			margin-right: 0.25em;
		}
	}
	h3{
		font-size: 1rem;
		border-bottom: 1px solid @decorativeColor;
	}
	h4{
		font-size: 1rem;
		font-weight: bold;
	}
}