@import 'reset';
@baseMargin: 0.5rem;
html, body{
	font-size: 15px;
}

.app{
	padding: @baseMargin;
	max-width: 800px;
	margin: 0 auto;
}

.ui{
	display: flex;
	flex-flow:row wrap;
    justify-content: space-between;
	.btnBox{
   		flex: 0 0 auto;
  		margin-bottom: @baseMargin;
		&.viewMode{
		}
	}
	.btn{
		@btnSelectedBgColor: #008ede;
		@btnSelectedFontColor: #FFF;
		@btnBgColor: #EEE;
		@btnFontColor: #333;
		@btnAnimeDuration: 200ms;

		@btnShadowColor: rgba(0, 0, 0, 0.5);

		@height: 36px;
		font-size: 0.9rem;
		display: inline-block;
		height: @height;
		line-height: @height;
		padding: 0 0.5em;
		text-align: center;
		cursor: pointer;
		background: @btnBgColor;
		color: @btnFontColor;
		box-shadow: 0px 0px 0px @btnShadowColor;
		@keyframes btnHover{
			from{
				box-shadow: 0px 0px 0px @btnShadowColor;
				//background-color: @btnBgColor;
			}
			to{
				box-shadow: 0px 0px 5px @btnShadowColor;
				//background-color: lighten(@btnBgColor, 1%);
			}
		}

		&:hover{
			z-index: 3;
			animation: btnHover @btnAnimeDuration ease-out;
			animation-fill-mode: forwards;
		}
		&.selected{
			z-index: 2;
			box-shadow: 0px 0px 5px @btnShadowColor;
			@keyframes selectedBtnHover{
				from{
					//background-color: @btnSelectedBgColor;
				}
				to{
					//background-color: lighten(@btnSelectedBgColor, 10%);
				}
			}
			//animation: selectedBtnHover 0.2s ease-out reverse;
			background: @btnSelectedBgColor;
			color: @btnSelectedFontColor;
			&:hover{
				animation: selectedBtnHover @btnAnimeDuration ease-out;
				animation-fill-mode: forwards;
				//background-color: lighten(@btnSelectedBgColor, 10%);
			}
		}
	}
}
.feedList{
	.feedItem{
		margin-top: @baseMargin * 2;
		padding-bottom: @baseMargin * 2;
		border-bottom: 1px solid #CCC;
		word-wrap: break-word;
		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			border: none;
		}
		.html{
			overflow: hidden;
			width: 100%;
			blockquote{
				p{
					margin: 0;
					padding: 0;
				}
				cite{
					.title;
					display: block;
					font-style: normal;
				}
				cite + p{
					display: inline-block;
					float: left;
					img{
						vertical-align: top;
						margin-right: @baseMargin;
					}
				}
				cite + p + p{
					.description;
				}

				p:last-child{
					display: none;
				}
			}	
		}
		.title{
			font-size: 1.2rem;
			margin:@baseMargin 0;
			line-height: 1;
			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.description{
			font-size: 0.9rem;
			line-height: 1.5;
		}
		.footer{
			font-size: 11px;
			.score,
			.category,
			.date,
			.bookmarkCount{
				@height: 14px;
				display: inline-block;
				line-height: @height;
				height: @height;
				padding: 2px 4px;
			}
			.bookmarkCount{
				color: #ff2d2d;
				font-weight: bold;
				background: #fdd;
				.count{
					font-size: 110%;
				}
				&:hover{
					text-decoration: none;
				}
			}
			.score{
				color: #FFF;
				vertical-align: top;
				@s: 50%;
				@l: 45%;
				&.minus{
					background: hsl(0, @s, @l);
				}
				&.plus{
					background: hsl(100, @s, @l);
				}
				&.zero{
					background: #CCC;
				}
			}
			.category{
				background: #EEE;
			}
		}
		&.view-title{
			margin-top: @baseMargin;
			padding-bottom: @baseMargin;
			.html, .text{
				display: none
			}
			.title{
				margin-bottom: 0;
				font-size: 1rem;
			}
		}
		&.view-text{
			.html{
				display: none;
			}
		}
		&.view-html{
			.title, .text{
				display: none
			}
		}
	}
}